@font-face {
  font-family: "black_han_sansregular";
  src: url("blackhansans-regular.woff2") format("woff2"),
    url("blackhansans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
